

<nav class="nav">
    <ul>
        <li> <a href=" {{ url_for('site.index') }}"> {{ home }} </a></li>
        <li> <a href=" {{ url_for('site.packages') }}"> {{ packages }} </a></li>
        <li> <a href=" {{ url_for('site.configuracion') }}"> {{ configuration }} </a></li>
        <li> <a href=" {{ url_for('site.contacto') }}"> {{ contact }} </a></li>
        <li> <a href="{{ url_for('site.index') }}">{{ english }}</a></li>
        <li> <a href="{{ url_for('site.index', lang = 'es') }}">{{ spanish }}</a></li>
    </ul>
</nav>
